{% extends "base.html" %}

{% block extrahead %}
{{ super() }}
<link rel="alternate" type="application/rss+xml" title="New posts" href="{{ 'feed_rss_created.xml' | url }}">
<link rel="alternate" type="application/rss+xml" title="New and updated posts" href="{{ 'feed_rss_updated.xml' | url }}">
{% endblock %}

{% block announce %}
<a href="https://twitter.com/ntdvps">
    For updates follow <strong>@ntdvps</strong> on
    <span class="twemoji twitter">
        {% include ".icons/fontawesome/brands/twitter.svg" %}
    </span>
    <strong>Twitter</strong>
</a>
{% endblock %}

<!-- Content -->
{% block content %}
{{ super() }}
{% endblock %}
