{% extends "base.html" %}

<!-- Content -->
{% block content %}
{{ super() }}

{% block announce %}
<a href="https://twitter.com/ntdvps">
    For updates follow <strong>@ntdvps</strong> on
    <span class="twemoji twitter">
        {% include ".icons/fontawesome/brands/twitter.svg" %}
    </span>
    <strong>Twitter</strong>
</a>
{% endblock %}

<!-- Content footer -->
<footer class="mdx-content__footer md-typeset">

    <hr />
    <span class="twemoji">
        {% include ".icons/fontawesome/solid/flask.svg" %}
    </span>
    <hr />

</footer>
{% endblock %}