<aside class=article-post>
    <div class="content-block content-block-position block-donate">
        <div class=post>
            <div class=title>
                <div style=text-align:center;>
                    <svg width="90" height="90" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="#fff"
                            d="M376 30c-27.783.0-53.255 8.804-75.707 26.168-21.525 16.647-35.856 37.85-44.293 53.268-8.437-15.419-22.768-36.621-44.293-53.268C189.255 38.804 163.783 30 136 30 58.468 30 0 93.417.0 177.514c0 90.854 72.943 153.015 183.369 247.118l62.099 53.414C248.38 480.596 252.12 482 256 482s7.62-1.404 10.532-3.953l62.111-53.425C439.057 330.529 512 268.368 512 177.514 512 93.417 453.532 30 376 30z" />
                    </svg>
                </div>
                <div style=text-align:center;margin-top:20px>
                    <span class=title>If any of my work was helpful, you can:</span>
                </div>
            </div>
            <div class=donate-text>
                <ul>
                    <li>✉️ Share this post with your colleagues</li>
                    <li>💬 Comment, ask questions and report any issues/typos found</li>
                    <li>💰 Make a one-time or recurring donation to support my work</li>
                </ul>
            </div>
            <div class=donate-button><a href=https://github.com/sponsors/hellt
                    class="button button-big button-white">Donate</a>
            </div>
        </div>
    </div>
</aside>